@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-league: "League Spartan", sans-serif;
    --color-Tert: #F5F0E6;
}

html{
    scroll-behavior: smooth;
}